In [28]:
import pandas as pd
import psycopg2
from sqlalchemy import create_engine

In [11]:
orders_df= pd.read_csv('D:\\Documents\\Smrithi-DE-SQL\\orders.csv').sample(10000)

In [12]:
aisles_df = pd.read_csv("D:\\Documents\\Smrithi-DE-SQL\\aisles.csv")
departments_df = pd.read_csv("D:\\Documents\\Smrithi-DE-SQL\\departments.csv")
order_products_df = pd.read_csv("C:\\Users\\Smrithi\\order_products.csv").sample(10000)
products_df = pd.read_csv("D:\\Documents\\Smrithi-DE-SQL\\products.csv")

In [13]:
#connection
try:
    conn = psycopg2.connect(dbname="ecom_analysis", user='postgres', password='root', port='5432')
except:
    print("connection was unsuccessful")

In [14]:
cur = conn.cursor()

In [15]:
engine = create_engine('postgresql+psycopg2://postgres:root@localhost/ecom_analysis')

In [16]:
cur.execute("""
CREATE TABLE aisles (
    aisle_id INTEGER PRIMARY KEY,
    aisle VARCHAR
)
""")

In [17]:
cur.execute("""
CREATE TABLE departments (
    department_id INTEGER PRIMARY KEY,
    department VARCHAR(255)
)
""")

In [18]:
cur.execute("""
CREATE TABLE products (
    product_id INTEGER PRIMARY KEY,
    product_name VARCHAR(255),
    aisle_id INTEGER,
    department_id INTEGER,
    FOREIGN KEY (aisle_id) REFERENCES aisles (aisle_id),
    FOREIGN KEY (department_id) REFERENCES departments (department_id)
)
""")

In [19]:
cur.execute("""
CREATE TABLE orders (
    order_id INTEGER PRIMARY KEY,
    user_id INTEGER,
    order_number INTEGER,
    order_dow INTEGER,
    order_hour_of_day INTEGER,
    days_since_prior_order INTEGER )
""")

In [20]:
cur.execute("""
CREATE TABLE order_products (
    order_id INTEGER,
    product_id INTEGER,
    add_to_cart_order INTEGER,
    reordered INTEGER,
    PRIMARY KEY (order_id, product_id))
    
""")

In [21]:
conn.commit()

In [22]:
orders_df.drop('eval_set', inplace=True, axis=1)

In [23]:
aisles_df.to_sql('aisles', con=engine, if_exists='append', index=False)

134

In [24]:
departments_df.to_sql('departments', con=engine, if_exists='append', index=False)

21

In [25]:
products_df.to_sql('products', con=engine, if_exists='append', index=False)

688

In [26]:
orders_df.to_sql('orders', con=engine, if_exists='append', index=False)

1000

In [27]:
order_products_df.to_sql('order_products', con=engine, if_exists='append', index=False)

1000